{% extends 'base.html.twig' %}
{% block title %}Création d'item{% endblock %}
{% block body %}
    <h1>Creation d'un item</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        </br><input class="btn btn-success" type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="btn btn-primary btn-xs" href="{{ path('item_index') }}">Retourner à la liste</a>
        </li>
    </ul>
{% endblock %}
