


.contenu { /*top right bottom left*/
/*    padding: 30px 20px 30px 20px;*/
}
th, td{
    text-align:center;
}

td.active, th.warning {
    max-width: 100px;
}

.form-group{
    max-width: 600px;
}

.form-group label {
    width: 100%;
}


input[type=number] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* liens fictifs */
.none, a.none:visited, a.none:active, a.none:focus, a.none:link{
    text-decoration: none;
    color: orange;
}

a.none:hover{
    text-decoration: none;
    color: red;
}




/* formulaire de connexion */



.tablecontainer {
    width: 60%;
    margin: auto;
}

.bs-example {
    
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
}

.form-signin {
  text-align: center;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
      background-color: #ecf9f2;

/*      border-color: #ddd;
    border-width: 30px;
    border-radius: 4px 4px;*/
    outline: 1px solid #e6e6e6;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px
}
.checkbox {
      margin-left: 20px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#sstitre {
    color: orange;
    font-style: italic;
}
.red{
    color: red;
}
/****************************************************************************
header
*****************************************************************************/

.header {
    position: absolute;
    width: 100%;
    padding: 0;
    top:0;
/*    text-align: center;*/
    background-color: black;
    color: orange;
    height: 60px;
}

.nomsite {
    position: relative;
    color: white;
    display: block;
    width: 150px;
    left:10%;
    color: orange;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}
.search{
  
    position: relative;
    top: -40px;
    left: 30%;
/*    float: left;*/
    width: 30%;
}

#headerright{
    position: absolute;
    top: 15px;
    right: 1%;
    width: 550px;
}

#padding{
    display:inline-block;
    position: relative;
    left: 0;
    margin: 0;
    padding: 0;
}
#paspadding{
    display: inline-block;
    position: relative;
    right: 0px;
    margin:0;
    padding: 0;
}

/****************************************************************************
footer
*****************************************************************************/
.footer {
    position: fixed;
    display: block;
    width: 100%;
    height: 40px;
    clear: both;
    bottom: 0;
    text-align: center;
    background-color: black;
    color: orange;
}

/****************************************************************************
404
*****************************************************************************/
.cont404 {
    position: relative;
    margin: auto;
    /*text-align: center;*/
    left: 10%;
    top: 40%;
}





.erreur4xx {
    position: relative;
    width: 80%;
    
    height: 300px;
    top: 200px;
    left: 0;
    background-color: lightgray;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
-webkit-box-shadow: inset 14px 14px 98px -9px rgba(102,102,102,1);
-moz-box-shadow: inset 14px 14px 98px -9px rgba(102,102,102,1);
box-shadow: inset 14px 14px 98px -9px rgba(102,102,102,1);
    border: 1px solid black;
}

.img404 {
    position: relative;
    margin-left: 0;
    top: -70px;
    left: 50px;
    padding: 0;
    width: 300px;
    height: 300px;
    
    transform:rotate(-10deg);
-ms-transform:rotate(-10deg); /* Internet Explorer */
-moz-transform:rotate(-10deg); /* Firefox */
-webkit-transform:rotate(-10deg); /* Safari et Chrome */
-o-transform:rotate(-10deg); /* Opera */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid white;
}

.conterror {
    text-align: center;
    position: relative;
  left: 40%;
  top:-200px;
  height: 400px;
  font-weight: bold;
  font-size: 18px;
        width: 700px;
/*    padding: 30px 44px 24px 46px;*/
    position: relative;
}
.open-quote{
    
        font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left:0;
    top: -50px;
    color: grey;
    font-size: 8em;
}
.texterror {
    position: relative;
    width: 80%;
    left: 10%;
    font-weight: bold;
    font-style: italic;
}

.close-quote{
        font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right:0;
    top: 50px;
    color: grey;
    font-size: 8em;
}