{% extends '::basepure.html.twig' %}
{% block title %}Resultats{% endblock %}
{% block content %}
    <div class="tablecontainer">
        {% block liste %}

        {% endblock %}
    </div>

{% endblock %}